<main class="min-h-screen bg-muted/20 p-2 md:p-6">
  <section class="mx-auto flex w-full max-w-7xl flex-col gap-6">
    <div class="flex min-w-0 flex-col gap-3">
      <div class="flex flex-col gap-2 md:flex-row md:items-end md:justify-between">
        <p class="text-xs font-medium tracking-wide text-muted-foreground uppercase">
          {{ userName() }}'s Workspace
        </p>
      </div>

      <div class="flex flex-col gap-3 lg:flex-row lg:items-center lg:justify-between">
        <div class="flex min-w-0 flex-col gap-3 md:flex-row md:items-center md:gap-4">
          <nav hlmBreadcrumb class="min-w-0">
            <ol hlmBreadcrumbList class="text-lg font-semibold leading-tight tracking-tight text-foreground sm:text-xl md:text-2xl lg:text-3xl flex items-center gap-2">

              @for (bc of breadcrumbs(); track $index) {
                <li hlmBreadcrumbItem>
                  @if (bc.href && !$last) {
                    <a hlmBreadcrumbLink [link]="bc.href" class="text-muted-foreground hover:text-foreground truncate" [title]="bc.label">
                      {{ bc.label }}
                    </a>
                    <li hlmBreadcrumbSeparator></li>
                  } @else {
                    <span hlmBreadcrumbPage class="font-semibold text-foreground truncate" [title]="bc.label">
                      {{  board()?.name || bc.label }}
                    </span>
                  }
                </li>
              }

            </ol>
          </nav>
        </div>

        <div class="flex w-full flex-wrap items-center gap-2 sm:w-auto sm:justify-end">
          <button hlmBtn variant="outline" (click)="onLogoutClick()" [disabled]="isLoggingOut()" class="w-full sm:w-auto">
            {{ isLoggingOut() ? 'Logging out...' : 'Logout' }}
          </button>
        </div>
      </div>
    </div>

    <router-outlet />

  </section>
</main>
