<button hlmBtn variant="ghost" [hlmDropdownMenuTrigger]="menu">
  <ng-icon hlm name="lucideEllipsis" size="sm"/>
</button>
<ng-template #menu>
  <hlm-dropdown-menu>

    <hlm-dropdown-menu-group>
      @if (canUpdateList()) {
        <button hlmDropdownMenuItem class="gap-2" (click)="showForm.emit()">
          <ng-icon hlm name="lucidePencil" size="sm" />
          <span>Rename</span>
        </button>
      }
      @if (canDeleteList()) {
        <hlm-alert-dialog>
          <button hlmDropdownMenuItem id="edit-profile" hlmAlertDialogTrigger>
            <ng-icon hlm name="lucideTrash" size="sm" />
            <span>Delete</span>
          </button>
          <hlm-alert-dialog-content *hlmAlertDialogPortal="let ctx">
            <hlm-alert-dialog-header>
              <h2 hlmAlertDialogTitle>Delete list?</h2>
              <p hlmAlertDialogDescription>
                This action cannot be undone. This will permanently delete this list.
              </p>
            </hlm-alert-dialog-header>
            <hlm-alert-dialog-footer>
              <button hlmAlertDialogCancel (click)="onCancel(ctx)">Cancel</button>
              <button hlmAlertDialogAction (click)="onConfirmDelete(ctx)">Delete</button>
            </hlm-alert-dialog-footer>
          </hlm-alert-dialog-content>
        </hlm-alert-dialog>
      }
    </hlm-dropdown-menu-group>

  </hlm-dropdown-menu>
</ng-template>
