<div class="w-full min-w-0">
  <hlm-dialog>
    <button hlmDialogTrigger hlmBtn
      variant="outline"
      class="w-full cursor-pointer text-left"
      (click)="openCard()"
    >
      <span class="block w-full truncate">
        {{ itemCard().title }}
      </span>
    </button>
    <hlm-dialog-content *hlmDialogPortal="let ctx">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:min-h-[34vh]">

        <div class="flex flex-col h-full">
          <card-information-form class="flex-1" [listId]="listId()" />
        </div>

        <div class="flex flex-col justify-between gap-4 h-full">
          <div class="flex flex-col gap-2">
            <h2 class="text-base font-semibold tracking-tight sm:text-lg">
              Card Members
            </h2>
            <card-members-data-table [cardId]="itemCard().id!" />
          </div>
          <div class="flex justify-start pt-2 border-t">
            <delete-card-button [cardId]="itemCard().id!" [listId]="listId()" />
          </div>
        </div>

      </div>
    </hlm-dialog-content>
  </hlm-dialog>
</div>
